
* {
    box-sizing: border-box;
}

.autocomplete-container {
    max-width: 600px;
    margin: 40px auto;
    background-color: aqua;
}

.search-input-box {
    width: 80%;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}

.recipe-list {
    width: 80%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    border-radius: 5px;
    max-height: 500px;
    overflow-y: scroll;
}

.recipe-item {
    padding: 7px;
}

.recipe-item:hover, .active {
    background-color: #808080;
    border-radius: 5px;
}

