
* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.auto-complete-container {
    max-width: 600px;
    margin: 40px auto;
}

.search-input-box {
    width: 80%;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}

.recipe-list {
    width: 80%;
    padding: 5px;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    max-height: 500px;
    overflow-y: scroll;
}

.recipe-item {
    padding: 5px;
}

.recipe-item:hover {
    background-color: #808080;
    border-radius: 5px;
}

.active-item {
    background-color: #808080;
    border-radius: 5px;
}





