
.progress-bar-container {
    max-width: 600px;
    margin: 40px auto;
}

.progress-bar-shell {
    height: 25px;
    border: 1px solid #000;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar-text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    color: #fff;
    background-color: green;
    transition: transform 0.5s ease-in;
}

