
* {
    box-sizing: border-box;
}

.search-debounce-container {
    max-width: 600px;
    margin: 40px auto;
}

.search-input-box {
    width: 80%;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}

.recipe-list {
    width: 80%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    max-height: 300px;
    overflow-y: scroll;
    border-radius: 5px;
    margin-top: 5px;
}

.recipe-item {
    padding: 7px;
}