
.pagiation-container{
    max-width: 900px;
    margin: 40px auto;
}

.product-list-container {
    display: flex;
    flex-wrap: wrap;
    
}

.product-card-img {
    height: 130px;
    width: 130px;
    padding: 5px;
}

.product-card-name {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 16px;
    font-weight: 600;
}


.product-card-container {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 1px solid black;
}

.pageNum-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginated-num {
    padding: 5px;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

.paginated-num.active {
    background-color: #000;
    color: #fff;
}

.prev-btn, .next-btn {
    cursor: pointer;
}

.prev-btn:disabled, .next-btn:disabled {
    cursor: not-allowed;
}