.progress-bar-container {
    max-width: 600px;
    margin: 40px auto;
}

.progress-bar-title {
    text-align: center;
}

.progress-bar-shell {
    width: 100%;
    height: 30px;
    margin-top: 15px;
    border: 1px solid #000;
    border-radius: 7px;
    overflow: hidden;
}

.progress-percentage {
    background-color: green;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 600;
    color: #fff;
    transition: 0.5s ease-in;

}

.progress-percentage.low {
    color: #000;
}