* {
  box-sizing: border-box;
}


.auto-complete-container{
    max-width: 600px;
    margin: 40px auto;
    background-color: antiquewhite;
}

.search-input {
    width: 80%;
    padding: 12px 16px;
    border-radius: 4px;
    border: 2px solid #000;
    font-size: 16px;
}

ul {
    list-style-type: none;
    max-height: 500px;
    margin: 0;
    padding: 0;

}

ul > li {
    margin: 5px;
    padding: 5px;
}

.result-container {
    border: 1px solid #000;
    width: 80%;
    max-height: 500px;
    overflow-y: scroll;
}

li:hover {
    background-color: #808080;
    cursor: pointer;
    border-radius: 5px;
}

.active {
    background-color: #808080;
    border-radius: 5px;
}